[submodule "location"]
	path = packages/location
	url = git@github.com:Eu-Arthur/flutter_location.git
[submodule "location_android"]
	path = packages/location_android
	url = git@github.com:Eu-Arthur/flutter_location_android.git
[submodule "location_ios"]
	path = packages/location_ios
	url = git@github.com:Eu-Arthur/flutter_location_ios.git
[submodule "location_linux"]
	path = packages/location_linux
	url = git@github.com:Eu-Arthur/flutter_location_linux.git
[submodule "location_platform_interface"]
	path = packages/location_platform_interface
	url = git@github.com:Eu-Arthur/flutter_location_platform_interface.git
[submodule "location_macos"]
	path = packages/location_macos
	url = git@github.com:Eu-Arthur/flutter_location_macos.git
